* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  display: flex;
  background: rgba(35, 42, 51, 0.979);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  content: center;
  place-content: center;
  
}
.login_container {
  display: flex;
  width: 600px;
  height: 504px;
  border-radius: 15px;
  background-color: #020000;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header styles */

.header_container {
  display: flex;
  align-items: center;
  width: 600px;
  height: 50px;
  margin-top: 6px;
}
.close_container {
  width: 47%;
  justify-content: space-between ;
}

.close_container img {
  width: 19px;
  margin-left: 18px;
}

.logo_container {
  width: 53%;
  justify-items: center;
}
.logo_container img {
  width: 30px;
}

.scroll_container {
  overflow: auto;
  overscroll-behavior: contain;
}

.container_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
/*   margin: auto; */
  align-items: center;

}
button {
  margin: 16px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font: inherit;
  color: inherit;
}
.secundary_button {
  margin: 16px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgb(83, 100, 113);
  color: white;
  background-color: #020000;
}


input {
  margin: 8px;
  width: 300px;
  height: 60px;
  border-radius: 4px;
  box-shadow: none;
  background: #020000;
}

.title_container {
  width: 600px;
  margin: 0 150px;
}
.title_h1 {
  text-align: start;
/*   display: flex; */
  color: white;
/*   justify-content: center; */
  margin-top: 15px;
  padding: 0 140px;
}
p {
  color: gray;
  margin-top: 40px;
  margin-bottom: 50px;
}
#registro {
  color: rgb(28, 107, 226);
}